.app-title{
    color: black;
    text-align: center;
    color: rgb(231, 144, 31);
}
body{
    background-color: rgb(236, 224, 206);
}
/* .contact-container{
   text-align: center;
} */
.app-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
/* .add-contact-container{
    background-color: white;
    height: 500px;
    width: 400px;
} */
.sub-heading{
    text-align: center;
}
.user-input{
    font-size: 15px;
    width: 300px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    padding: 10px 10px;
    display: block;
}
.btn-add-contacts{
    display: block;
    font-size: 15px;
    margin: 20px auto;
    border-radius: 8px;
    border: none;
    padding: 10px ;
    width: 150px;
    background-color: rgb(247, 195, 127);
    cursor: pointer;

}