.contact-card{
    background-color: #fff;
    width: 400px;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
    position: relative;
}
.delete-btn{
    position: absolute;
    bottom:5px;
    right: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    padding: 2px;
    border-radius: 50%;
}
.edit-btn{
    position: absolute;
    bottom:5px;
    right: 45px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    padding: 2px;
    border-radius: 50%;
}
m-4{
    margin: 4px;
}
.contact-name{
    font-size: 17px;
    font-weight: bold;
    margin: 5px;
}
.contact-email{
    margin: 5px;
}
.contact-mobile{
    margin: 5px;
}